.volume {
  color: $blue;
  border-radius: 8px;
  &:hover {
    background-color: $darkgray;
  }
  &:active {
    background-color: $black;
  }
}

.volume.scale {
  padding: 0 10px;
  trough {
    background-color: $background;
    border-radius: 5px;
    min-width: 100px;
    highlight {
      background: $blue;
      border-radius: 5px;
      padding: 10px 0;
    }
    slider {
      all: unset;
      background-color: transparent;
      color: transparent;
    }
  }
}

.volume.vscale {
  padding: 10px 0;
  trough {
    background-color: $background;
    border-radius: 5px;
    min-height: 100px;
    highlight {
      background: $blue;
      border-radius: 5px;
      padding: 0 10px;
    }
    slider {
      all: unset;
      background-color: transparent;
      color: transparent;
    }
  }
}
